<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--build:css css/all.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="keyboard.css">
    <!-- endbuild -->
</head>
<body ng-app="bsApp" ng-controller="bsController" style="background-color: rgba(0,0,0,0)">
<div class="ui-keyboard ui-keyboard-container center-block dropdown-menu ui-keyboard-has-focus" role="textbox"
     id="keyboard_keyboard">
    <div class="ui-keyboard-keyset ui-keyboard-keyset-normal" style="display: inline-block;">
            <span ng-repeat="row in rows">
            <span ng-repeat="key in getKeys(row) track by $index">
            <button ng-if="key!='tab'" role="button" type="button" ng-class="getClasses(key)"
                    class="ui-keyboard-button btn" ng-click="clickMe(key)">
                <span class="ui-keyboard-text">{{getKey(key)}}</span>
            </button>
            <span ng-if="key=='tab'" class="dropdown">
                <button class="btn btn-default dropdown-toggle" title="Language" type="button" id="languageDropdownMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="lang">
                    {{lang}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="languageDropdownMenu">
                    <li ng-repeat="lang in langs" ng-click="setLang(lang)">{{lang}}</li>
                </ul>
            </span>
            </span>
            <br class="ui-keyboard-button-endrow">
            </span>
    </div>
</div>
<!--build:js js/all.js -->
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="app.js"></script>
<script src="layouts.js"></script>
<script src="services.js"></script>
<script src="controllers.js"></script>
<!-- endbuild -->
</body>
</html>
